.main
    margin 0 0 auto
    padding: 20px 0
    width: 100%

    &__title
        font-size: 18px
        line-height: 1.2
        margin-bottom: 1.6em

    &__text
        font-size: 13px
        margin-bottom: 25px
        font-weight: 300

    &__item
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0

    &__captcha-wrapper
        margin-left: -20px
        margin-right: -20px
        +above(360px)
            margin: 0

    &__captcha
        display block
        margin: 20px auto 10px
