mixin service(data)
    .service.closed&attributes(attributes)(data-info=data.index)
        .service__main
            label.service__checkbox-wrapper
                input.service__checkbox(type='checkbox')
                i.service__icon
                span.service__name= data.name
            button.service__toggle(type='button', data-toggle=data.index)
        .service__info
            dl.service__description
                dt.service__dt= 'Дата активации'
                dd.service__dd= '18.11.2019'
                dt.service__dt= 'Стоимость услуги'
                dd.service__dd= '3,5 грн/сутки'
            a.service__link(href='/')= 'Правила предоставления услуги'

