@import "../../static/styles/mixins.styl"

.service
    &__main
        display flex

    &.closed
        & ^[0]__info
            display none
        & ^[0]__toggle
            transform rotate(0)

    &__name
        font-size: 16px
        user-select none

    &__checkbox-wrapper
        display flex
        align-items center
        &:after
            content ''
            position absolute
            display block

    &__icon
        display block
        height: 20px
        width: 20px
        background: #fff
        border 1px solid
        margin-right: 20px

    &__checkbox
        display none
        &:checked
            & + ^[0]__icon
                background: #fff url(../images/check.png) 50% center no-repeat

    &__toggle
        margin-left: auto
        background url(../images/arrow.png) 50% center no-repeat
        border none
        display block
        width: 20px
        height: 20px
        cursor pointer
        transform rotate(180deg)

    &__info
        position relative
        color: #999
        font-size: 12px
        font-weight: 300
        padding-top: 30px
        &:after
            content ''
            display block
            position absolute
            left: 0
            right: 0
            top: 15px
            height: 1px
            background: currentColor

    &__description
        display flex
        flex-wrap wrap
        margin: 0 0 10px

    &__dt
    &__dd
        width: 50%
        margin 0
        line-height: 1.8

    &__dd
        text-align right

    &__link
        &
        &:link
        &:visited
        &:hover
        &:active
            color: #999
