.content-box
    background: #fffdfe
    box-shadow 0 2px 5px rgba(#000, .15)
    padding: 25px 35px

    &__text
        font-size: 14px
        font-weight: 300

        &_centered
            text-align: center
