include ../favicon/favicon

mixin head(data)
    -
        const title = data.title;

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection' content='address=no')
    meta(name='HandheldFriendly' content='True')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='application-name' content='Title')
    meta(name='msapplication-tooltip' content='Description')
    +favicon

    meta(name='csrf-param', content='ololo')
    meta(name='csrf-token', content='alala')

    title= title
