include ../button/button

mixin form(data)
    form.form&attributes(attributes)
        input.form__input(data-input, type='text')

        +button({ name: 'Получить код' })(class='form__button', data-submit)
