extends ../layouts/default
include ../modules/content-box/content-box
include ../modules/form/form
include ../modules/button/button

block content
    h1.main__title= 'Авторизация'

    +content-box
        p.content-box__text= 'Для авторизации введите номер телефона, на него будет отправлен код'

        +form(class='main__form')

