extends ../layouts/default
include ../modules/content-box/content-box

block content
    h1.main__title!= 'Активные услуги<br/>и информационные сервисы'

    +content-box
        p.content-box__text.content-box__text_centered= 'На Вашем номере нет активных услуг'
