extends ../layouts/default
include ../modules/content-box/content-box
include ../modules/service/service
include ../modules/button/button

block content
    h1.main__title!= 'Активные услуги<br/>и информационные сервисы'

    p.main__text!= 'Если вы хотите отключить услугу выберите, пожалуйста соответствующее название сервиса и подтвердите, что Вы не робот'

    .main__list
        each name, index in ['Музыка On-Line', 'beHealthy']
            .main__item
                +content-box
                    +service({name, index})

    .main__captcha-wrapper
        img.captcha.main__captcha(src=require('../static/images/captcha.png').default, width='304px', alt='')

    +button({ name: 'Подтвердить'})(class='main__button')

