extends ../layouts/default
include ../modules/content-box/content-box

block content
    h1.main__title!= 'Активные услуги<br/>и информационные сервисы'

    +content-box
        p.content-box__text= 'Спасибо.'
        p.content-box__text= 'Ваш запрос на отключение принят.'
        p.content-box__text= 'Ожидайте ответа по SMS'
