.button
    display: flex
    text-decoration: none
    align-items: center
    justify-content: center
    text-align: center
    padding: 0 10px
    push-auto()
    height: 30px
    width: 140px
    background: $color-main
    &
    &:link
    &:visited
    &:hover
    &:active
        color: #fff
        outline: none
        -webkit-tap-highlight-color transparent

    &__text
        font-size: 14px
        font-weight: 300
        color: #fff
        line-height: 1



