mixin favicon()
    link(rel="apple-touch-icon", sizes="76x76", href=require("../static/images/favicons/apple-touch-icon.png"))
    link(rel="icon", type="image/png", sizes="32x32", href=require("../static/images/favicons/favicon-32x32.png"))
    link(rel="icon", type="image/png", sizes="16x16", href=require("../static/images/favicons/favicon-16x16.png"))
    meta(name="msapplication-TileColor", content="#131211")

