mixin footer(data)
    footer.footer&attributes(attributes)
        .wrapper.footer__wrapper
            p.footer__text!= 'Телефон службы технической поддержки: 698(бесп.)<br/>Режим работы: 9:00 - 22:00 (пн-пт), 10:00 - 18:00 (вых.)'


