include ../modules/noscript/noscript
include ../modules/head/head
include ../modules/footer/footer
include ../modules/main/main

doctype html
html(lang='ru')

    head
        +head({'title': 'Услуги и информационные сервисы'})

    body
        +noscript

        +main
            block content

        +footer

